<launch>

<!--Load parameters for the Sonar driver -->
<rosparam command="load" file="$(find micron_driver_ros)/config/tritech_micron_config.yaml"/>

<!--Create a sonar driver node-->
<node pkg="micron_driver_ros" type="micron_driver_ros_node" name="micron_driver" output="screen" />

<!-- Load parameters for the scanline parser-->
<rosparam command="load" file="$(find micron_driver_ros)/config/scan_line_parser_config.yaml"/>

<!--Create a node parser -->
<node pkg="micron_driver_ros" type="micron_driver_scanline_parser" name="Scanline_parser" output="screen" />

<!--Set the frame for the Sonar -->
 <node pkg="tf" type="static_transform_publisher" name="Sonar_to_world" args="0.0 0.0 0.0 0.0 0.0 0 /Micron /world 100" />

<!--Launch RViz -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find micron_driver_ros)/config/Rviz_config.rviz" />
  
</launch>
